<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
  
        <!-- Logo Section -->
        <div class="mb-3">
            <img src="../../assets/logo.png" alt="GamersVault Logo" class="img-fluid" style="max-width: 120px; height: auto;">
        </div>
  
        <!-- Website Name -->
        <h2 class="h5 mb-2">GAMERSVAULT</h2>
  
        <!-- Tagline -->
        <p class="mb-3" style="font-style: italic;">A Gamers Paradise</p>
  
        <!-- Contact Information -->
        <p class="mb-4">Contact Us: <strong>+91 9440219249</strong></p>
  
        <!-- Section: Social media -->
        <section class="mb-4">
            <div class="d-flex justify-content-center">
                <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; height: 36px; width: 36px;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
  
                <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #55acee; height: 36px; width: 36px;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
  
                <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; height: 36px; width: 36px;" href="#!" role="button"><i class="fab fa-google"></i></a>
  
                <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac; height: 36px; width: 36px;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
                <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; height: 36px; width: 36px;" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
  
                <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #333333; height: 36px; width: 36px;" href="#!" role="button"><i class="fab fa-github"></i></a>
            </div>
        </section>
  
        <!-- Additional Information -->
        <section class="mb-4">
            <p>Welcome to GamersVault, your one-stop shop for the latest consoles, games, and controllers. We pride ourselves on offering the best selection for gamers of all levels. Join us for an unparalleled gaming experience!</p>
        </section> 
    </div>
    <!-- Grid container -->
  
  
    
      
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="/home">GamersVault.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  