<div class="container">
    <h2 class="text-center text-primary mb-2 mt-5">Update Product</h2>
    <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm" class="p-4 rounded shadow">
        <div class="mb-3">
            <label for="name">Product Name</label>
            <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="product.name">
        </div>
        <div class="mb-3">
            <label for="price">Price</label>
            <input type="number" id="price" name="price" class="form-control" required [(ngModel)]="product.price">
        </div>
        <div class="mb-3">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" class="form-control" required [(ngModel)]="product.quantity">
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control" required [(ngModel)]="product.description"></textarea>
        </div>
        <div class="mb-3">
            <label for="imageUrl">Image URL</label>
            <input type="url" id="imageUrl" name="imageUrl" class="form-control" required [(ngModel)]="product.imageUrl">
            <div *ngIf="imageUrlError" class="text-danger">{{ imageUrlError }}</div>
        </div>
        <div class="mb-3">
            <label for="category">Category</label>
            <select id="category" name="category" class="form-select" required (change)="onCategoryChange($event)" [(ngModel)]="product.categoryName">
                <option value="" disabled>Select Main Category</option>
                <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
            </select>
        </div>
        <div class="mb-3" *ngIf="selectedCategoryId !== null">
            <label for="subcategory">Subcategory</label>
            <select id="subcategory" name="subcategory" class="form-select" [(ngModel)]="selectedSubcategoryId" (change)="onSubcategoryChange($event)" [disabled]="!selectedSubcategories.length">
                <option value="" disabled>Select Subcategory</option>
                <option *ngFor="let subcategory of selectedSubcategories" [value]="subcategory.id">{{ subcategory.name }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100 rounded">Update Product</button>
    </form>
</div>
