    <ngb-carousel [interval]="5000">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/carousel-images/slide2.jpeg" alt="First Slide" style="width: 100%;height: 610px;">
            </div>
            <div class="carousel-caption">
                <h1 id="p1">Marvel's Spiderman 2</h1>
                <h3 class="animated-zoom">Now Available!!</h3>
                <p>Be Greater. Together</p>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/carousel-images/slide3.jpeg" alt="Second Slide" style="width: 100%;height: 610px;">
            </div>
            <div class="carousel-caption">
                <h1 id="p1">PS5 Pro</h1>
                <h3 class="animated-zoom">Coming soon at GameVault</h3>
            </div>
        </ng-template>
    </ngb-carousel>

    <app-product-display></app-product-display>
    <div class="featured-game-container">
        <div class="game-section">
            <div class="game-details">
                <h2>Mortal Kombat 11</h2>
                <!-- <p>This is the description for Game One.</p> -->
                <button (click)="exploreMore('Game One')">Explore More</button>
            </div>
            <div class="game-video">
                <iframe
                    src="https://www.youtube.com/embed/mWytXS73aFI?autoplay=1&mute=1"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    
        <div class="game-section reverse">
            <div class="game-details">
                <h2>Call of Duty: Black Ops 6</h2>
                <!-- <p>This is the description for Game Two.</p> -->
                <button (click)="exploreMore('Game Two')">Explore More</button>
            </div>
            <div class="game-video">
                <iframe
                    src="https://www.youtube.com/embed/h0uxvKUjsj4?autoplay=1&mute=1"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

    